.container{
  margin-top: 1.5cm;
  height: 14cm;
  width: 100%;
  background: blue;
  display: flex;
  justify-content: center;
  align-items: center;
  
}
.doctor,.pharmacist,.office-executive,.patient{
  height: 8cm;
  width: 7cm;
  background-color: white;
  margin: 1cm;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.img{
  height: 3cm;
  width: 3cm;
  background-color: aquamarine;
  border-radius: 50%;
}
.button{
  height: 2cm;
  width: 6cm;
  /* background-color: aquamarine; */
  display: flex;
  justify-content: center;
  align-items: center;
  
}
button{
  margin: 0.5cm;
  height: 1cm;
  width: 2cm;
  border-radius: 10px;
  border: none;
}
.singin{
  background-color: rgb(38, 220, 13);
  color: white;
}
.singup{
  background-color: blue;
  color: white;
}